<div class="content">
    <mat-card class="card-item-container">
        <div class="registration-head-label">Doctor Registration</div>

        <div>
            <mat-form-field class="form-input-content" appearance="legacy">
                <mat-label> Name</mat-label>
                <input matInput placeholder="Placeholder" name="name"[(ngModel)]="doctorObj.name" />

            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="form-input-content" appearance="legacy">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Placeholder" name="email"[(ngModel)]="doctorObj.emailId" />

            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="form-input-content" appearance="legacy">
                <mat-label>Specialization</mat-label>
                <mat-select name="specialization"[(ngModel)]="doctorObj.specializationId">
                    <span *ngFor="let specialization of specializationDropDownData | keyvalue">
                        <mat-option value={{specialization.key}}>{{specialization.value}}</mat-option>
                    </span>
                </mat-select>
            </mat-form-field>
            </div>

        <div class="form-input-label">
            <mat-form-field class="form-input-content" appearance="legacy">
                <mat-label>Address</mat-label>
                <textarea name="address"[(ngModel)]="doctorObj.address" matInput></textarea>
            </mat-form-field>
        </div>

         <div>
            <mat-form-field class="form-input-content" appearance="legacy">
                <mat-label>Phone Number</mat-label>
                <input matInput placeholder="Placeholder"name="mobile"[(ngModel)]="doctorObj.mobile" />

            </mat-form-field>
        </div>
        <div>
            <label class="form-input-label" id="example-radio-group-label">Gender</label>
        </div>
        <mat-radio-group aria-label="Select an option" name="genderEnable"[(ngModel)]="doctorObj.gender">
            <mat-radio-button class="form-radio-label" value="yes">Yes</mat-radio-button>
            <mat-radio-button class="form-radio-label" value="no">No</mat-radio-button>
        </mat-radio-group>

        <div class="form-input-label">
            <mat-form-field class="form-input-content" appearance="legacy">
                <mat-label>Note</mat-label>
                <textarea name="note"[(ngModel)]="doctorObj.note" matInput></textarea>
            </mat-form-field>
        </div>


    <div class="control-button">
        <button (click)="registerDoctor()" mat-raised-button color="accent">Register</button>
    </div>

    </mat-card>
</div>
