

<div class="content">
<mat-card>
<table class="table table-hover">
    <thead class="table-header-input-text sticky-top ">
        <tr>
            <th class="table-column-label" *ngFor="let column of patientTableColumn" scope="col"> 
                {{column}}
            </th>
           
    </thead>
    <tbody class="table-hover">
        <tr class="table-row-text-input" *ngFor="let patient of patientList">
            <th scope="row">{{patient.id}}</th>
            <td>{{patient.patientName}}</td>
            <td>{{patient.patientEmail}}</td>
            <td>{{patient.patientMobile}}</td>
            <td>{{patient.patientAddress}}</td>
            <td>
                <button mat-fab color="primary" class="mx-2">
                    <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active"  href="patient/register">
                        <mat-icon>add</mat-icon>
                    </a>
                </button>
                
                    <button mat-fab color="basic" class="ml-3 mr-3" >
                    <mat-icon>edit</mat-icon>
            </button>

                <button (click)="deletePatient(patient.id)"   mat-fab color="warn" class="mx-2" >
                    <mat-icon>delete</mat-icon>
                </button>
            </td>

        </tr>

    </tbody>
</table>
</mat-card>
</div>


