

.content{
    max-width: 90%;
    margin: auto;
    margin-top: 5rem;
    padding-bottom: 3rem;
}

.table-header-input-text{
    color:darkcyan;
    background-color: rgb(240, 205, 142);
    text-align: center;
}

.table-row-text-input{
    text-align: center;

}

.table-column-label{
 padding-top: 1rem;
 padding-bottom: 1rem;
}