

<div class="content">
    <mat-card>
    <table class="table table-hover">
        <thead class="table-header-input-text sticky-top ">
            <tr>
                <th class="table-column-label" *ngFor="let column of appointmentcolumn" scope="col"> 
                    {{column}}
                </th>
               
        </thead>
        <tbody class="table-hover">
            <tr class="table-row-text-input" *ngFor="let appointment of appointmentList">
                <th scope="row">{{appointment.id}}</th>
                <td>{{appointment.noOfSlots}}</td>
                <td>{{appointment.details}}</td>
                <td>{{appointment.fee}}</td>
                <td>{{appointment.date}}</td>
                <!-- <td>
                    <button mat-fab color="primary" class="mx-2">
                        <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active"  href="patient/register">
                            <mat-icon>add</mat-icon>
                        </a>
                    </button>
                    
                        <button mat-fab color="basic" class="ml-3 mr-3" >
                        <mat-icon>edit</mat-icon>
                </button>
    
                    <button (click)="deletePatient(patient.id)"   mat-fab color="warn" class="mx-2" >
                        <mat-icon>delete</mat-icon>
                    </button>
                </td> -->
    
            </tr>
    
        </tbody>
    </table>
    </mat-card>
    </div>
    
    
    
