<div class="content">
    <mat-card class="card-item-container">
        <div class="registration-head-label">Appointment Registration</div>

          


        <div>
            <mat-form-field class="form-input-content" appearance="legacy">
                <mat-label>Doctor</mat-label>
                <mat-select name="specialization"[(ngModel)]="appointment.doctorId">
                    <span *ngFor="let doctor of doctorDropDownData | keyvalue">
                        <mat-option value={{doctor.key}}>{{doctor.value}}</mat-option>
                    </span>
                </mat-select>
            </mat-form-field>
            </div>
             <div>
            <mat-form-field appearance="legacy" class="form-input-content">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="datepicker" [(ngModel)]="appointment.date">
                <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker>
                  <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Cancel</button>
                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                  </mat-datepicker-actions>
                </mat-datepicker>
              </mat-form-field>
            </div>
            <div>
                <mat-form-field class="form-input-content" appearance="legacy">
                    <mat-label>Amount</mat-label>
                    <input matInput placeholder="Placeholder"name="mobile"[(ngModel)]="appointment.fee" />
    
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="form-input-content" appearance="legacy">
                    <mat-label>No of Slots</mat-label>
                    <input matInput placeholder="Placeholder"name="mobile"[(ngModel)]="appointment.noOfSlots" />
    
                </mat-form-field>
            </div>

            <div class="form-input-label">
                <mat-form-field class="form-input-content" appearance="legacy">
                    <mat-label>Details</mat-label>
                    <textarea name="details"[(ngModel)]="appointment.details" matInput></textarea>
                </mat-form-field>
            </div>


    <div class="control-button">
        <button (click)="registerAppointment()" mat-raised-button color="accent">Register</button>
    </div>

    </mat-card>
</div>

