<nav class="navbar navbar-expand-lg navbar-dark navbar-color sticky-top">
    <a class="navbar-brand" href="#">HEALTH CARE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/specialization/register">Specialization Register <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/doctor/register">Doctor Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/patient/register">Patient Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/patient/details" id="navbarDropdownMenuLink"  aria-haspopup="true" aria-expanded="false">
            All Patient
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/appointment/register" id="navbarDropdownMenuLink"  aria-haspopup="true" aria-expanded="false">
            Appointment Register
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/appointment/details" id="navbarDropdownMenuLink"  aria-haspopup="true" aria-expanded="false">
            All Appointment
          </a>
        </li>
      </ul>
    </div>
  </nav>

<router-outlet></router-outlet>