
.content{
    // margin:auto;
    // max-width: 95%;
}

.navbar-color{
    background-color: #ff4081;
    color: white;
}

nav-content-link{
margin-left: 10rem;
}

nav-home-text-label{
    font-weight: bold;
}