<div class="content">
    <mat-card class="card-item-container">
        <div class="registration-head-label">Patient Registration</div>

        <div>
            <mat-form-field class="form-input-content" appearance="legacy">
                <mat-label> Name</mat-label>
                <input matInput placeholder="Placeholder" name="name" [(ngModel)]="patientObj.patientName" />

            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="form-input-content" appearance="legacy">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Placeholder" name="email" [(ngModel)]="patientObj.patientEmail" />

            </mat-form-field>
        </div>

        <div class="form-input-label">
            <mat-form-field class="form-input-content" appearance="legacy">
                <mat-label>Password</mat-label>
                <input matInput name="password" [(ngModel)]="patientObj.patientPassword">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="form-input-content" appearance="legacy">
                <mat-label>Phone Number</mat-label>
                <input matInput placeholder="Placeholder" name="mobile" [(ngModel)]="patientObj.patientMobile" />

            </mat-form-field>
        </div>
        <div class="form-input-label">
            <mat-form-field class="form-input-content" appearance="legacy">
                <mat-label>Address</mat-label>
                <textarea name="address" [(ngModel)]="patientObj.patientAddress" matInput></textarea>
            </mat-form-field>
        </div>


        <div class="control-button">
            <button (click)="registerPatient()" mat-raised-button color="primary">Register</button>
        </div>

    </mat-card>
</div>