<div class="content">
    <mat-card class="card-item-container">
        <div class="registration-head-label">Specialization Registration</div>

        <div>
            <mat-form-field class="form-input-content" appearance="legacy">
                <mat-label> Code</mat-label>
                <input matInput placeholder="Placeholder"  name="shipCode"
                    [(ngModel)]="specializationObj.code" />

            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="form-input-content" appearance="legacy">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Placeholder"  name="shipCode"
                    [(ngModel)]="specializationObj.name" />

            </mat-form-field>
        </div>
        <div class="form-input-label">
            <mat-form-field class="form-input-content" appearance="legacy">
                <mat-label>Note</mat-label>
                <textarea  [(ngModel)]="specializationObj.note" name="shipDesc"
                    matInput></textarea>
            </mat-form-field>
            </div>

            <div class="control-button">
                <button  mat-raised-button (click)="registerSpecialization()"
                    color="primary">Register</button>
            </div>
        
    </mat-card>
</div>