.content{
    padding-top: 10rem;
}


.card-item-container{
      width:30%;
      margin: auto;
}

.form-input-content{
    width: 100%;
}

.form-input-label{
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1.25rem;
}
.form-radio-label{
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.control-button{
    text-align: center;
}

.validation-text-error{
    font-size: 1rem;
    color: red;
}

.registration-head-label{
    text-align: center;
    font-size: 1.25rem;
    font-weight: bolder;
    margin-bottom: 1rem;
    // color: #ff4081;
}